*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h3 {
    font-size: 1.25rem;
}

.navbar {
    margin: 25px auto;
    display: flex;
}

.logo_navbar {
    max-height: 8vh;
}

ul {
    list-style-type: none;
    display: inline-flex;
    gap: 15px;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.home {
    display: flex;
    margin: 10%;
    flex-direction: column;
    justify-content: center;
    gap: 10vw;
}

.logo img{
    width: 80vw;
}

.character_container {
    margin: 20px auto;
    flex-wrap: wrap;
    width: 45vw;
}

.character_image {
    max-width: 90%;
}

.footer {
    display: flex;
    margin: 25px 0 auto;
    min-height: 100px;
    background-color: #f8f8f8;
    align-items: center;
}